/* Variables */
:root{
    --color-bg: #333;
    --color-fg: #ddd;
    --color-transparent-bg: rgba(0,0,0,0.4);
    /*--color-accent-color: #88dc00;*/
    --color-accent-color: #c5bd2f;
    --color-accent-light: #5c5c5c;
    --color-accent-dark: #1a1a1a;

    --main-bg-img: url("../img/IMG_3129_edited_s.jpg");
    --main-bg-shadow: 0 12px 20px rgba(0,0,0,0.5);

    --button-shadow: 6px 6px 10px rgba(0,0,0,0.5);

    --base-font: 40px;
    --arrow-font: 90px;
    --navbar-font: 70px;
    --navbar-margin: 50px;

    --grid-gap: 1em;
    --grid-padding: 0.5em;
    --corners: 20px;
}

/* Fonts */
@font-face {
    font-family: Clockwise;
    src: url("../fonts/Clockwise-FreeFont/clockwise_light.otf") format("opentype");
}

/* Defaults */
html{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--color-bg);
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-weight: bolder;
}

body{
    color: var(--color-fg);
    font-size: var(--base-font);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* Typograpy */
h1{
    font-size: calc(4.0 * var(--base-font));
    /*font-family: 'Clockwise', sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
}

.subtitle{
    font-size: calc(1.2 * var(--base-font));
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 5px;
}

h2{
    font-size: calc(2.5 * var(--base-font));
    font-family: 'Clockwise', sans-serif;
    font-weight: lighter;
    padding-bottom: calc(0.5 * var(--base-font));
}

h3{
    font-size: calc(1.8 * var(--base-font));
    font-family: 'Clockwise', sans-serif;
    font-weight: lighter;
    padding-bottom: calc(0.5 * var(--base-font));
}

h4{
    font-size: calc(1.2 * var(--base-font));
    line-height: 150%;
    font-family: 'Clockwise', sans-serif;
    font-weight: lighter;
    padding-bottom: calc(0.5 * var(--base-font));
}

h5{
    text-align: left;
    font-size: calc(1 * var(--base-font));
    line-height: 150%;
    text-decoration: underline;
    padding-bottom: calc(0.5 * var(--base-font));
}

h6{
    text-align: left;
    font-size: calc(1 * var(--base-font));
    line-height: 150%;
    font-weight: bolder;
    padding-bottom: calc(0.5 * var(--base-font));
}

a{
    color: var(--color-fg);
    text-decoration: none;
    cursor: pointer;
}

p{
    text-align: left;
    font-size: calc(1 * var(--base-font));
    font-weight: lighter;
    line-height: 150%;
    padding-bottom: calc(0.5 * var(--base-font));
}

.center-align{
    text-align: center;
}

p a{
    color: var(--color-accent-color);
    text-decoration: underline;
}

/* Page Elements */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 2 * var(--navbar-margin));
    font-size: var(--navbar-font);
    padding: var(--navbar-margin);
    z-index: 3;
}

nav h1{
    font-size: var(--navbar-font);
}

nav .icon-spacer{
    display: inline-block;
    width: var(--navbar-margin);
}

#menu-close{
    display: none;
}

#main-menu{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-accent-dark);
    z-index: 2;
    display: none;
    box-shadow: var(--main-bg-shadow);
}

#main-menu a{
    display: block;
    padding: calc(1 * var(--navbar-margin)) 0;
}

#main-menu .social-icon{
    display: inline-block;
    padding: calc(1 * var(--navbar-margin)) calc(0.5 * var(--base-font));
}

#sidebar-container{
    position: relative;
}

#sidebar{
    width: max-content;
    position: relative;
    top: 0;
    padding: calc(2 * var(--grid-padding));
    z-index: 1;
}

#sidebar ul{
    text-align: left;
    font-size: calc(1 * var(--base-font));
    font-weight: lighter;
    line-height: 150%;
    list-style-type: disc;
    list-style-position: inside;
}

#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5{
    padding-bottom: 0;
}

#sidebar > ul > li{
    padding-top: calc(0.5 * var(--base-font));
}

#sidebar ul > li > ul{
    padding-left: calc(1.5 * var(--base-font));
}

section{
    width: 100%;
}

#home{
    height: 100vh;
    background-image: var(--main-bg-img);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: none;
    box-shadow: var(--main-bg-shadow);
}

hr{
    width: 35%;
    border-top: 6px solid var(--color-accent-light);
    margin: calc(2*var(--navbar-margin)) auto;
    grid-column: span 12;
}

#home hr{
    border-color: var(--color-accent-color);
}

footer .social-icon{
    display: inline-block;
    padding: 0 calc(0.5 * var(--base-font)) calc(2 * var(--navbar-margin)) calc(0.5 * var(--base-font));
}

.spacer {
    height: 1em;
    grid-column: span 12;
}

.nav-spacer {
    height: calc(var(--navbar-font) + 2 * var(--navbar-margin));
    grid-column: span 12;
}

/* Grids */
.grid{ /* General */
    width: 80%;
    margin: 0 auto;
    padding-bottom: var(--grid-gap);
    display: grid;
    --col: calc((100% - 11 * var(--grid-gap))/12);
    grid-template-columns: var(--col) var(--col) var(--col) var(--col) var(--col) var(--col) var(--col) var(--col) var(--col) var(--col) var(--col) var(--col);
    grid-gap: var(--grid-gap);
}

.grid-cell-full{grid-column: span 12; display: inline-block;}
.grid-cell-half{grid-column: span 6; display: inline-block;}
.grid-cell-third{grid-column: span 4; display: inline-block;}
.grid-cell-twothirds{grid-column: span 8; display: inline-block;}
.grid-cell-quarter{grid-column: span 3; display: inline-block;}

.lcr{ /* Left-center-right */
    display: grid;
    grid-template-columns: auto auto auto;
}

.lcr > div{width: 100%}
.lcr > div:nth-child(1){text-align: left;}
.lcr > div:nth-child(3){text-align: right;}

.vertical-center{ /* Vertical center with bottom caption */
    height: 100%;
    display: grid;
    grid-template-rows: auto min-content auto min-content;
}

/* Content */
img{
    width: 100%;
}

.button {
    width: calc(100% - var(--base-font));
    padding: var(--grid-padding);
    font-family: 'Clockwise', sans-serif;
    font-weight: lighter;
    box-shadow: var(--button-shadow);
    border-radius: var(--corners);
}

.button > i{
    font-size: calc(1.4 * var(--base-font));
    padding-bottom: var(--grid-padding);
}

.button > div{
    font-size: calc(0.8 * var(--base-font));
}

.card {
    width: 100%;
    box-shadow: var(--button-shadow);
    border-radius: var(--corners);
}

.card .photo{
    border-radius: var(--corners) var(--corners) 0 0;
    padding-bottom: var(--grid-padding);
}

.card .logo{
    width: 80%;
}

.card p, .card h4, .card h5{
    padding-left: var(--grid-padding);
}

.fine-print{
    font-size: calc(0.6 * var(--base-font));
    padding-bottom: var(--navbar-margin);
}

.hide-on-mobile{
    display: none;
}

/* Colors */
.accent-color{color: var(--color-accent-color);}
.accent-light{color: var(--color-accent-light);}
.accent-dark{color: var(--color-accent-dark);}
.bg-default{background-color: var(--color-bg);}
.bg-color{background-color: var(--color-accent-color);}
.bg-light{background-color: var(--color-accent-light);}
.bg-dark{background-color: var(--color-accent-dark);}
.bg-transparent{background-color: var(--color-transparent-bg)}

.shadow1{box-shadow: var(--button-shadow);}
.shadow2{box-shadow: var(--main-bg-shadow);}

/* Desktop */
@media only screen and (min-width: 1000px) {
    :root{
        --base-font: 20px;
        --arrow-font: 45px;
        --navbar-font: 30px;
        --navbar-margin: 25px;

        --corners: 10px;
    }

    .grid-cell-full-desktop{grid-column: span 12; display: inline-block;}
    .grid-cell-half-desktop{grid-column: span 6; display: inline-block;}
    .grid-cell-third-desktop{grid-column: span 4; display: inline-block;}
    .grid-cell-twothirds-desktop{grid-column: span 8; display: inline-block;}
    .grid-cell-quarter-desktop{grid-column: span 3; display: inline-block;}

    h1{font-size: calc(6 * var(--base-font));}

    nav {
        width: calc(100vw - 2 * var(--navbar-margin) - 20px);
        padding-right: calc(var(--navbar-margin) + 20px);
    }

    hr{border-top: 4px solid var(--color-accent-light);}

    .fine-print{font-size: calc(0.8 * var(--base-font));}

    .hide-on-mobile{
        display: initial;
    }

    .hide-on-desktop{
        display: none;
    }
}